global:
  scrape_interval: 1m
  scrape_timeout: 10s
  evaluation_interval: 1m
  body_size_limit: "0"
  sample_limit: 0
  label_limit: 0
  label_name_length_limit: 0
  label_value_length_limit: 0
  target_limit: 0
  
rule_files:
    - "/etc/prometheus/rules.yml"

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]
  - job_name: "node_exporter"
    static_configs:
      - targets: ["node_exporter:9100"]